<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1056555634600-gqpe4gbcd2efbfri148f6ui3fnkd798m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056555634600-gqpe4gbcd2efbfri148f6ui3fnkd798m</string>
	<key>API_KEY</key>
	<string>AIzaSyCRJTM62KQ9ANryQNtjl1jMVXUeEfm0WgU</string>
	<key>GCM_SENDER_ID</key>
	<string>1056555634600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tonysong.app.Code-Firebase</string>
	<key>PROJECT_ID</key>
	<string>code-firebase-4ba89</string>
	<key>STORAGE_BUCKET</key>
	<string>code-firebase-4ba89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056555634600:ios:597e816b63c9e2e7</string>
	<key>DATABASE_URL</key>
	<string>https://code-firebase-4ba89.firebaseio.com</string>
</dict>
</plist>