<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>809343701812-e2tfjhf29srtpv7f7f99imrdevs9qucd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809343701812-e2tfjhf29srtpv7f7f99imrdevs9qucd</string>
	<key>API_KEY</key>
	<string>AIzaSyD_2Lj3J_aMBL7RdpeMnsUMQjr0R06-L4g</string>
	<key>GCM_SENDER_ID</key>
	<string>809343701812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tonysong.app.prod</string>
	<key>PROJECT_ID</key>
	<string>code-firebase-79bec</string>
	<key>STORAGE_BUCKET</key>
	<string>code-firebase-79bec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809343701812:ios:64db570f897c1684</string>
	<key>DATABASE_URL</key>
	<string>https://code-firebase-79bec.firebaseio.com</string>
</dict>
</plist>